* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.Main {
  background-color: #246967;
  display: flex;
  position: relative;
  min-height: 100vh;
  flex-direction: column-reverse;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 50px; 
}
.Main-Container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.top-profile {
  height: 110px;
  width: 400px;
  background-color: white;
  display: flex;
  justify-content: space-around;
  border-radius: 10px;
}
.Profile-Main {
  width: 400px;

  background-color: white;
  border-radius: 10px;
  margin-top: 100px;
  gap: 50px;
}
.setting {
  margin-top: 20px;
  height: 35px;
  width: 35px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(234 238 241);
  cursor: pointer;
}
.setting:hover{
  background-color: rgb(202, 205, 208);;
}
.setting-icon {
  color: rgb(124, 127, 129);
  background-color: rgb(234 238 241);
}
.setting-icon:hover{
  background-color: rgb(202, 205, 208);;
}
.edit {
  margin-top: 20px;
  height: 35px;
  width: 35px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(234 238 241);
  cursor: pointer;
}
.edit:hover{
  background-color: rgb(202, 205, 208);;
}
.profile-img {
  width: 175px;
  height: 175px;
  border-radius: 100%;
  margin-top: -70px;
  background-color: rgb(234 238 241);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.profile-img img {
  width: 160px;
  height: 160px;
  border-radius: 100%;
}
.profile-name {
  background-color: white;
  color: rgb(33, 32, 32);
  font-size: x-large;
  font-weight: 600;
  display: flex;
  justify-content: center;
}
.bio {
  margin-top: 10px;
  background-color: white;
  color: rgb(55 230 166);
  font-size: large;
  font-weight: 600;
  display: flex;
  justify-content: center;
}
.border {
  margin-left: 30px;
  width: 340px;
  margin-top: 20px;
  border-bottom: 2px solid rgb(205, 211, 215);
}
.bio-dis {
  width: 340px;
  background-color: white;
  color: rgb(102 102 102);
  margin-top: 20px;
  margin-left: 30px;
  font-weight: 400;
  display: flex;
  justify-content: center;
}
.button-con {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  gap: 20px;
}
.button {
  text-align: center;
  width: 340px;
  height: 50px;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: rgb(234 238 241);
}
.btn {
  font-size: larger;
  color: white;
  font-weight: 600;
  background-color: rgb(55 230 166);
  cursor: pointer;
}
.btn:hover{
  background-color: rgb(37, 192, 135);
}
.bottom-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: black;
  position: fixed;
  background-color: rgb(234 238 241);
  padding: 15px;
  bottom: 0;
  text-align: center;
  padding: 10px;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  
}
.bottom-nav img{
  border-radius: 50px;
  border: rgb(41, 171, 167) solid 2px;
  cursor: pointer;
  width: 30px;
  height: 30px;
}
.open-rolling-drawer-btn{
  display: flex;
  gap: 600px;
}
@media only screen and (max-width: 468px) {

  [class*="open-rolling-drawer-btn"] {
    gap: 150px;
  }
}
@media only screen and (max-width: 468px) {
 
  [class*="bottom-nav"] {
    width: 530px;
  }
}
.edit-section {
  margin-top: 10px;

  background-color: white;
  margin-bottom: 50px;
  border-radius: 10px;
}

.edit-field {
  display: flex;
 justify-content: center;
 
}
.edit-field div{
  margin-top: 30px;
    border: 3px dotted gray;
    color: gray;
    font-size: large;
}
.edit-theme{
  margin-top: 10px;
  display: flex;
  justify-content: center;
  color: black;
  font-weight: 600;
  font-size: larger;
}

.edit-field textarea {
  resize: none;
  height: 80px;
}

.button-con {
  display: flex;
  justify-content: flex-end;
}
.theme-color{
  display: flex;
  justify-content: center;
  margin-top: 40px;
  gap: 15px;
}
.first-div{
  width: 40px;
  height: 40px;
 
  border-radius: 5px;
}
.color-1{
  background-image: linear-gradient(90deg, red, #ff0);
}
.color-2{
  background-image: linear-gradient(90deg, #106d82, #ff0);
}
.color-3{
  background-image: linear-gradient(90deg, #4c9457, #1b1b0c);
}

.color-4{
  background-image: linear-gradient(90deg, #822bb1, #32321e);
}
.color-5{
  background-image: linear-gradient(90deg, #c58c1b, #707029);
}
.color-6{
  background-image: linear-gradient(90deg, #f0e6e6, #050505);
}


